@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

#active-tasks {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  letter-spacing: 0.005em;
  /* Text/Black/Active */
  color: rgba(0, 0, 0, 0.87);
}

.new-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 0;
  width: 100%;
  margin: 15px 0px;
  background: rgba(65, 88, 196, 0.1);
  border-radius: 4px;
  border: none;
}

#btn-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.0125em;
  text-transform: capitalize;
  color: #4158c4;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.todos {
  min-width: 50%;
  margin-top: 5em;
}

@media only screen and (max-width: 600px) {
  .todos {
    max-width: 80%;
  }
}
