@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.titles {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  letter-spacing: 0.005em;
  /* Text/Black/Active */
  color: rgba(0, 0, 0, 0.87);
}

.new-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  width: 100%;
  margin: 15px 0px;
  background: rgba(65, 88, 196, 0.1);
  border-radius: 4px;
  border: none;
}

#btn-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.0125em;
  text-transform: capitalize;
  color: #4158c4;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.todos {
  min-width: 50%;
  margin-top: 5em;
}

@media only screen and (max-width: 600px) {
  .todos {
    max-width: 80%;
  }
  .completed-todos {
    max-width: 80%;
  }
}

.completed-todos {
  min-width: 50%;
}

.wrapper-completed {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 50vh;
}
.initial-state {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.005em;
  color: rgba(0, 0, 0, 0.54);
}

.empty-state-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.empty-state {
  width: 320px;
  height: 72px;
  left: 0px;
  top: 48px;
  background: rgba(65, 88, 196, 0.1);
  border-radius: 4px;
  margin-bottom: 3em;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.empty-state-checkbox {
  color: rgba(65, 88, 196, 0.3);
}

.empty-state-placeholder {
  margin-left: 1rem;
  height: 0.5em;
  width: 15em;
  background-color: rgba(65, 88, 196, 0.1);
  border-radius: 4px;
  margin-top: 0.5em;
}
.short {
  max-width: 10em;
}

.empty-state-btn-container {
  display: flex;
  justify-content: center;
}
